n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fa0ce324-994a-4289-8ed8-d802f5cc39c1",
        "options": {}
      },
      "id": "0976fd12-0e5e-4c15-994e-9c563e3cb1fc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -192,
        0
      ],
      "webhookId": "fa0ce324-994a-4289-8ed8-d802f5cc39c1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: '資料已記錄' }) }}",
        "options": {}
      },
      "id": "db6298bb-7a37-4dd4-bf04-9c48aa258e65",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        256,
        160
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "40ztiP9pobB8O2c5",
          "mode": "list",
          "cachedResultName": "WhoIsUndercover",
          "cachedResultUrl": "/projects/8DatqOHc7PjFwpEK/datatables/40ztiP9pobB8O2c5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "player_id": "={{ $json.player_id }}",
            "player_name": "={{ $json.player_name }}",
            "role": "={{ $json.role }}",
            "word": "={{ $json.word }}",
            "join_time": "={{ $json.join_time }}",
            "is_eliminated": "={{ $json.is_eliminated }}",
            "game_result": "={{ $json.game_result }}",
            "created_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "player_id",
              "displayName": "player_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "player_name",
              "displayName": "player_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "word",
              "displayName": "word",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "join_time",
              "displayName": "join_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_eliminated",
              "displayName": "is_eliminated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "game_result",
              "displayName": "game_result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        32,
        0
      ],
      "id": "3b8acf1a-5e77-40b0-aff2-3b8a3dc4bc89",
      "name": "Insert row"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "868c8d79-4a9b-4a8c-a773-b99ee96f8d61",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        224
      ],
      "id": "a63c01e5-5df0-4c44-9bed-4aac13c0635a",
      "name": "Webhook1",
      "webhookId": "868c8d79-4a9b-4a8c-a773-b99ee96f8d61"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "40ztiP9pobB8O2c5",
          "mode": "list",
          "cachedResultName": "WhoIsUndercover",
          "cachedResultUrl": "/projects/8DatqOHc7PjFwpEK/datatables/40ztiP9pobB8O2c5"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        32,
        224
      ],
      "id": "f9d2309c-09db-4790-964e-174203e0f5f8",
      "name": "If row exists"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b68781e05b89830bc8f67cc6da8ebe2f6a70df63911bb4f6bfe31aabf9e3eca5"
  }
}