n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fa0ce324-994a-4289-8ed8-d802f5cc39c1",
        "options": {}
      },
      "id": "d697a547-a7f6-411f-beab-351ccd8b1bfd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        288,
        -224
      ],
      "webhookId": "fa0ce324-994a-4289-8ed8-d802f5cc39c1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: '資料已記錄' }) }}",
        "options": {}
      },
      "id": "d00ac6b1-a366-45be-b6e8-f504d57b006e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        736,
        -224
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "40ztiP9pobB8O2c5",
          "mode": "list",
          "cachedResultName": "WhoIsUndercover",
          "cachedResultUrl": "/projects/8DatqOHc7PjFwpEK/datatables/40ztiP9pobB8O2c5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "player_id": "={{ $json.player_id }}",
            "player_name": "={{ $json.player_name }}",
            "role": "={{ $json.role }}",
            "word": "={{ $json.word }}",
            "join_time": "={{ $json.join_time }}",
            "is_eliminated": "={{ $json.is_eliminated }}",
            "game_result": "={{ $json.game_result }}",
            "created_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "player_id",
              "displayName": "player_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "player_name",
              "displayName": "player_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "word",
              "displayName": "word",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "join_time",
              "displayName": "join_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_eliminated",
              "displayName": "is_eliminated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "game_result",
              "displayName": "game_result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        512,
        -224
      ],
      "id": "331dd3f5-6aac-47f6-b43d-b4973e5050e9",
      "name": "Insert row"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b68781e05b89830bc8f67cc6da8ebe2f6a70df63911bb4f6bfe31aabf9e3eca5"
  }
}